<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - SB</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Your Cart</h1>
    {% if products %}
    <table class="cart-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr data-id="{{ p['product_id']}}">
                <td>{{p['name']}}</td>
                <td>{{p['quantity']}}</td>
                <td>{{p['price']}}</td>
                <td>
                <form method="POST" action="/cart/delete">
                    <input type="hidden" name="product_id" value="{{ p['product_id'] }}">
                    <button type="submit" class="remove-cart">Remove</button>
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ url_for('order_page') }}">Place Order</a>

    {% else %}
    <p>Your cart is empty.</p>
    {% endif %}
    {% endblock %}
</body>

</html>